.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1541422348463-9bc715520974?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMG1vdW50YWlufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
}
span{
  font-size: 25px;
  font-family: Helvetica;
  color: #7c7c7c;
}

.main-header{
  height: 124px;
  background:transparent;
  color:#DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 25px;
  cursor: pointer;

}
.main-header h1 {
  margin-left: 300px;
}

.desktop-menu {
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
  
}

.desktop-menu span:hover{
  color:#ebebeb;

}

.dropdown {
  display: none;
}

.mobile-menu{
  display: none;
}

.main-content {
 margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family:  Tahoma;
}
.main-content h1{
  font-size: 120px;
  font-style: bold;
  color: #DDDDDD;
  letter-spacing:30px ;

}

.main-content p{
  color: #DDDDDD;
  font-size: 28px;
  margin-top: -50px;
}

.get-started{
  box-sizing: border-box;
  color: #DDDDDD;
  background: #64A19D;
  height:80px;
  width: 200px;
  font-size: large;
  border:transparent;
  border-radius: 12px;

}
.get-started:hover{
  background: #4fcdc4;
}

@media(max-width: 1140px){
  .main-header{
    height: 60px;
    background-color:transparent;
    
  }
  .main-header h1{
    font-size: 25px;
    margin-left: 200px;
  }
}

@media(max-width: 986px){
  .main-header h1{
    margin-left: 100px;
  }
}

@media(max-width: 860px){
  .desktop-menu{
    display:none;
  }

  .dropdown{
    width: 250px;
    background: transparent;
    position: fixed;
    right:0;
    flex-direction: column;
    justify-content: space-evenly;
    display:initial;
    font-size: 25px;
    cursor: pointer;
  }
  .mobile-menu{
    display: flex;
    height:150px;
    width:250px;
    background-color:transparent;
    color:black;
    right: 0;
    margin-right: -30px;
    margin-top: 210px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media(max-width:850px){
  .main-content h1{
    font-size: 100px;
    font-style: bold;
    color: #DDDDDD;
    letter-spacing:15px ;
  
  }

}

@media(max-width: 624px){
  .main-header h1{
    margin-left: 10px;
  }
  .main-content h1{
    font-size: 80px;
    letter-spacing: 8px;
  }

  .main-content p{
    font-size: 20px;
    margin-top: -10px;
  }

  .get-started{
    height:70px;
    width: 180px;
    font-size: medium;
  }
}

@media(max-width: 472px){
  .main-header h1{
    margin-left: 10px;
    font-size: 20px;
  }
  .main-content h1{
    font-size: 40px;
    letter-spacing: 4px;
  }

  .main-content p{
    font-size: 20px;
  }

  .get-started{
    height:70px;
    width: 180px;
    font-size: medium;
  }
}